
    body{
        background-color: rgb(23, 33, 117);
    }
    header{
        padding: 32px;
        border-bottom: 8px solid var(--subcor);
        background-color: darkred;
     }
    header div {
        text-align: center; /* Alinhamento no meio do header */
    }
    header div a {
        color:gold; /* a cor do texto */
        font-size: 20px; /* tamanho da fonte */
        line-height: 30px; /* espaçamento da linha do texto */
        margin: 0 16px; /* espaçamento entre os textos */
        text-decoration: none; /* retirar decoração do texto */
        font-family: 'Roboto', sans-serif; /* a fonte escolhida pro menu */
       }
    header div a:hover { /* seleção do modo quando o mouse passar por cima "houver"*/
        color:rgb(5, 107, 24); /* mudar para a cor violeta escuro*/
        transition: color 700ms; /* e fazer uma transiçao de cor que dura 700ms*/
    }
      :root{  /* iniciando  variavel*/
      --subcolor:rgb(238, 91, 13); /* nomeando a vriavel de --subcor e guardadno uma cor nela.*/ 
    }  /* Fechando a o bloco da variavel root.*/
    .links {
      text-align: center;
    }
    .links a {
      color:white;
      font-size: 20px;
      line-height: 30px;
      margin: 0 16px;
      text-decoration: none
    }
    .links a:hover {
      color: var(--subcolor);
      transition: 600ms;
      font-size: 23px;
    }
    
    


